@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&family=Montserrat:wght@200&display=swap');


#content {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    /*font-size: 22px;*/
}
#logo_link{
    padding-top: 5px;
}
nav a {
    text-align: center;
    background-color: #E07a5f;
    color: #3D405B;
    text-decoration: none;
    padding: 35px;
}

hero-msg h1, hero-msg h4 {
    text-align: center;
    width: 100px;
}    

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}

/*the space under the mountain picture*/
#background {
    height: 725px;
    width: 100%;
    background-color:#3d405b;
    color:#41edb9d9;
}

body {
    background-color: #f4F1De;
    color: #3D405B;
    font-size: 22px;
    padding: 0;
    margin: 0;
    font-family: "Edu SA Beginner", "Bradley Hand", monospace;

}

header {
    background-color: #e07a5f; 
    color: #3d405b;
    
}

nav a:hover {
    background-color:#3D405B;
    color:white;
}

.book, .join {
    background-color: #f4F1De;
    color:#e07a5f;
    text-decoration:none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #e07a5f;
    color:#f4f1de;
}
/* Making Memories that Last*/
.msg{
    background-color:#f4f1de;
    color:#3D405B;
    line-height: 1.5em;
    padding: 35px;

}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
footer{
    background-color: #e07a5f; 
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social img {
    padding-top: 15px;
}

nav {
    background-color: #e07a5f;
    padding: 25px;

}
/* heading links*/
a { 
    color: white;
    padding: 25px;
    font-family: Montserrat, Helvetica, sans-serif;

}

/* "Have an Adventure" words*/
.home-title {
    background-color: #f4f1de;
    color: #3d405b;
    text-align: center;
    font-family: "Edu SA Beginner", "Bradley Hand", monospace;
    font-size: 2em;
    margin-top: 10px;
}
h1 {
    margin: 50px 0;
}

h2 {
    margin:0;
}
/* "Make Memories with Paddle on" words*/
h4{
    color: #3d405b;
    text-align: center;
    font-family: Montserrat, Helvetica, sans-serif;
}

/* Making Memories that Last words*/
.msg h2 {
    color: #3d405b;
    font-family: "Edu SA Beginner", "Bradley Hand", monospace;

}

/* paragraph after h2*/
.msg p{
    color: #3d405b;
    font-size: .8em;
    padding-bottom: 15px;
}

footer h3{
    color: #3d405b; 
}

footer a{
    color: #41edb9d9;
    text-decoration: none;
}

footer a:hover {
    color:#3d405b;
    background-color: #41edb9d9;
    
}

.logo {
    width: 80px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}

#hero-img  {
    width: 100%;
    text-align: center;
}
/* body images*/
.card-img {
    border: 10px solid #3d405b;
}

footer p {
    font-size: 1.25em;
    padding: 25px
}
footer p a:hover { 
    text-decoration: underline;
}

img {
    border: 4px solid #3d405b;
    
}
